/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*INDEX.HTML*/

body,
html {
	background-color: white;
	height: 100%;
}


.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

#imglogo {
	height: 50px;
	width: 50px;
}

.logo {
	font-size: 30px;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

p,
button {
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
}

h1,
h2,
h3 {
	font-family: 'Oswald', sans-serif;
}

hr {
	border: 3px solid #F7CA18;
	margin-top: 0;
	margin-bottom: 0;
}

/*navbar*/


section#navbar {
	font-family: 'Oswald', sans-serif;
	font-size: 17px;
	letter-spacing: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section#navbar .logo {
	color: black;
}

section#navbar a {
	text-decoration: none;
}

.navbar-nav .nav-item {
	font-weight: 600;
	color: rgba(255, 255, 255, .5);
	background-color: transparent;
	border-bottom: .25rem solid transparent;
}

.navbar-nav .nav-item:hover,
.navbar-nav .nav-item:focus {
	border-bottom-color: rgba(0, 0, 0, 1);
}


.navbar-nav .active {
	color: black;
	border-bottom-color: black;
}


/*cover*/

section#cover {
	display: flex;
	align-items: center;
	text-align: center;
	/*background: url('../img/coverimage.jpg') no-repeat center center;*/
	/*height: 100%;*/
	/*background-size: cover;*/
}



.content img {
	height: 550px;
	width: 850px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
	border: 10px solid #F7CA18;
}

.content {
	padding-top: 0px;
	padding-bottom: 50px;
	width: 100%;
}

#talktous {
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	font-weight: bold;
}


section#cover h2 {
	letter-spacing: 2px;
}

/*footer*/

section#footer {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 5px;
	box-shadow: -5px -5px 5px 0 rgba(0, 0, 0, 0.2), -5px -5px 5px 0 rgba(0, 0, 0, 0.19);
	padding-right: 0;
	padding-left: 0;	
}

section#footer ul li {
	display: inline;

}

section#footer img {
	height: 40px;
	width: 40px;
}

/*about.html*/
section#about {
	min-height: 400px;
	display: flex;
	align-items: center;
	text-align: center;
}

section#team {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background: url('../img/city.jpg') no-repeat center center;
	background-attachment: fixed;
}

section#team img {
	height: 160px;
	width: 150px;
	border-radius: 50%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.row.first {
	background-color: #222;
	color: white;
}

.row.second {
	background-color: #F7CA18;
}

.content1,
.content2 {
	padding-top: 20px;
	padding-bottom: 20px;
}

section#contact {
	min-height: 80vh;
	margin: 0 auto;
	width: 60%;
}

.contactheader {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

textarea {
	min-height: 100%;
	resize: none;
}

.story {
	font-size: 20px;
	padding-top: 10px;
}




/*services.html*/

section#services h3 {
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
}


section#services h2,
section#rates h2 {
	overflow: hidden;
	text-align: center;
}

/*yellow lines*/
section#services h2:before,
section#services h2:after {
	background-color: #F7CA18;
	content: "";
	display: inline-block;
	height: 7px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}
section#services h2:before {
	right: 0.5em;
	margin-left: -50%;
}
section#services h2:after {
	left: 0.5em;
	margin-right: -50%;
}

/*black lines*/
section#rates h2:before,
section#rates h2:after {
	background-color: black;
	content: "";
	display: inline-block;
	height: 7px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}
section#rates h2:before {
	right: 0.5em;
	margin-left: -50%;
}
section#rates h2:after {
	left: 0.5em;
	margin-right: -50%;
}

.pwyw h1 {
	font-size: 250px;
	color: #F7CA18;
}

span.pwyw {
	font-weight: bold;
}

#pwywcontent {
	font-size: 15px;
}


/*sample works*/
section#gallery {
	padding-bottom: 20px;
	padding-top: 20px;
}

section#gallery img {
	height: 300px;
	width: 300px;
	padding-right: 0;
	padding-left: 0;
	margin-left: 0;
	margin-right: 0;
}


























@media (max-width: 576px) {
	section#contact {
		min-height: 120vh;
		margin: 0 auto;
		width: 100%;
	}

	section#cover img {
		height: 300px;
		width: 300px;
	}

	#serviceimg {
		margin-bottom: 0;
	}

	.pwyw h1 {
		font-size: 100px;
	}

	section#services h2,
	section#rates h2 {
		font-size: 40px;
	}

	section#about h1,
	section#contact h1 {
		font-size: 60px;
	}

	.story {
		font-size: 15px;
	}

	section#contact {
		padding-bottom: 20px;
	}

	.logo,
	#imglogo {
		font-size: 15px;
		margin: 0;
		padding: 0;
	}

	section#navbar > div.container-fluid > div.row > div.col-sm-12 {
		padding-right: 0;
		padding-left: 0;
	}

}



@media (max-width: 991.98px) {
	section#contact {
		width: 100%;
		margin: 0 auto;
		min-height: 70vh;
	}

	section#servicesdetails .row.features {
		padding-bottom: 20px;
	}

	section#gallery img {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	section#gallery .row.gallery {
		text-align: center;
		width: 100%;
		margin: 0 auto;
	}

	section#gallery img {
		height: 300px;
		width: 330px;
		padding: 0;
	}
}









